.header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: hsl(var(--clr-white));
    padding: 0.6em 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.toggle-nav {
    position: absolute;
    left: 87%;
    z-index: 2;
}

.show-nav {
    display: block;
    transition: all 0.5s ease-in;
}

.hide-nav {
    display: none;
    transition: display 1s ease-out;

}

.mobile-nav {
    position: fixed;
    width: 100vw;
    top: 3em;
    left: 0;
    z-index: 1;
    background-color: hsl(var(--clr-white));
    padding: 2em 0.6em 0.6em 0.6em;
}

.mobile-nav ul li {
    color: hsla(218, 76%, 15%, 1);
    font-size: 1.05em;
    margin: 1.5em 0.6em;
}

.mobile-nav div {
    display: flex;
    flex-direction: column;
}

.mobile-nav div button,
.large div button {
    border-radius: 5px;
    padding: 0.7em;
    margin: 0.7em 0.4em;
}

.mobile-nav div button:first-child,
.large div button:first-child{
    background-color: hsla(216, 100%, 40%, 1);
    color: hsl(var(--clr-white));
}
 .link {
     width: 100%;
     color: white;
     text-decoration: none;
 }


.mobile-nav div button:last-child,
.large div button:last-child {
    background-color: hsla(220, 16%, 96%, 1);
    color: hsla(217, 13%, 69%, 1);
}


/* responsive styling for larger screens */
@media screen and (min-width: 700px) {
    header{
        align-items: center;
        justify-content: space-between;
        font-size: 0.9em;
        padding: 0 5em;
        max-width: 1200px;
        margin-inline: auto;
    }

    .landing_header_logo svg {
        width: 10em;
    }
    
    .large {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 83%;
    }

    .large div {
        display: flex;
    }

    .large div button:first-child {
        order: 1;
    }

    .large ul {
        display: flex;
    }

    .large ul li {
        margin-inline: 1.1em;
    }
}